@import url('https://fonts.googleapis.com/css?family=Open+Sans');
/* main style */
.wow{	
    color: #363636;
    font-size: 14px;
    margin: 10px 10px 0 0px;
}
.wow .wow-plugin-title{
	font-weight: 300;
	line-height: 1.4em;
	font-size: 2.4em;	
}
.wow .wow-plugin-version{
	font-style: italic;
}
.wow h2{	
	font-weight: 300;
	line-height: 1.4em;
	font-size: 22px;
}
.wow h3{
	font-weight: 300;
    margin: 0 0 5px 0;
    font-size: 18px;
	padding-bottom: 5px;
	border-bottom: 1px solid #ececec;
}
/* big 2 colom style */
.wowcolom{
	display: flex;	
}
#wow-leftcol { 
	flex-basis: 70%;	
	margin-right:25px; 
}
#wow-rightcol { 
	flex-basis: 30%;
}
/* form elements style */
.wow input[type=text],.wow input[type=tel],.wow input[type=number], .wow input[type=date], .wow select , .wow textarea{
	border-radius: 3px;
	border: 1px solid #cecece;
	padding: 10px;
	width: 100%;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	display: inline-block;
}	
.wow textarea{height:150px;}	
.wow select {height:40px;}
/* colom style */
.wow-admin-col {
	display: flex;
	display: -webkit-flex;
	display: -moz-flex;	
}  
.wow-wrap{
	flex-wrap: wrap;
}
.wow-admin-col-1, .wow-admin-col-2, .wow-admin-col-3, .wow-admin-col-4, .wow-admin-col-5, .wow-admin-col-6, .wow-admin-col-7, .wow-admin-col-8, .wow-admin-col-9, .wow-admin-col-10, .wow-admin-col-11, .wow-admin-col-12 {
	padding:0 10px 10px 10px;
}    
.wow-admin-col-12 {
	flex-basis: 100%;
	-moz-flex-basis: 100%;
	-webkit-flex-basis: 100%;
}
.wow-admin-col-11 {
	flex-basis: 91.66666666666666%;
	-moz-flex-basis: 91.66666666666666%;
	-webkit-flex-basis: 91.66666666666666%;
}
.wow-admin-col-10 {
	flex-basis: 83.33333333333334%;
	-moz-flex-basis: 83.33333333333334%;
	-webkit-flex-basis: 83.33333333333334%;
}
.wow-admin-col-9 {
	flex-basis: 75%;
	-moz-flex-basis: 75%;
	-webkit-flex-basis: 75%;
}
.wow-admin-col-8 {
	flex-basis: 66.66666666666666%;
	-moz-flex-basis: 66.66666666666666%;
	-webkit-flex-basis: 66.66666666666666%;
}
.wow-admin-col-7 {
	flex-basis: 58.333333333333336%;
	-moz-flex-basis: 58.333333333333336%;
	-webkit-flex-basis: 58.333333333333336%;
}
.wow-admin-col-6 {
	flex-basis: 50%;
	-moz-flex-basis: 50%;
	-webkit-flex-basis: 50%;
}
.wow-admin-col-5 {
	flex-basis: 41.66666666666667%;
	-moz-flex-basis: 41.66666666666667%;
	-webkit-flex-basis: 41.66666666666667%;
}
.wow-admin-col-4 {
	flex-basis: 33.33333333333333%;
	-moz-flex-basis: 33.33333333333333%;
	-webkit-flex-basis: 33.33333333333333%;
}
.wow-admin-col-3 {
	flex-basis: 25%;
	-moz-flex-basis: 25%;
	-webkit-flex-basis: 25%;
}
.wow-admin-col-2 {
	flex-basis: 16.666666666666664%;
	-moz-flex-basis: 16.666666666666664%;
	-webkit-flex-basis: 16.666666666666664%;
}
.wow-admin-col-1 {
	flex-basis: 8.333333333333332%;
	-moz-flex-basis: 8.333333333333332%;
	-webkit-flex-basis: 8.333333333333332%;
}
.wow .right {
	text-align: right;
}
.wowbox{
	width: 100%;
    background: #fff;
    padding: 10px;    
    box-sizing: border-box;
	margin-bottom: 25px;
}
.wow-admin-col ul {
	list-style: none;	
	padding-left: 25px;
}
.wow-admin-col li {
	margin-left: 15px;
}
.wow-futures li:before{
    font-family: 'FontAwesome';
    content: '\f046';
    margin: 0 10px;
    list-style-type: none;
    font-size: 18px;
}
/* table style */
.wow table{
	width:100%;
	background:#fff;
	padding: 10px;
	margin-top:10px;
	font-weight: 200;
	text-align:left;
}
.wow table th {	
	border-bottom:1px solid #eee;	
}
.wow table th, .wow table td{		
	padding:10px 5px;	
}
.wow table th:nth-child(1){	
	width:10%;
}
.wow table th:nth-child(2){	
	width:20%;
}
.wow table th:nth-child(3){	
	width:25%;
}
.wow table th:nth-child(4), .wow table th:nth-child(5), .wow table th:nth-child(6){	
	width:15%;
}
.wow table th u {
	text-decoration: none;
}
/* menu style */
ul.wow-admin-menu {
	list-style: none;
	margin-top: 20px;
}
ul.wow-admin-menu li {
	display: inline
}
ul.wow-admin-menu li a {
	display: inline-block;
	width: 130px;
	height: 32px;
	background: #1f9ef8;
	border-radius: 3px;
	line-height: 32px;
	text-align: center;
	color: #fff;
	text-decoration: none;
	font-size: 14px;
}
ul.wow-admin-menu li a.active {
	background: #128be0;
	font-weight:700;
}
ul.wow-admin-menu li a.active .fa{
	color: #363636;
}
ul.wow-admin-menu li a.selected {
	background: #128be0;
}
/* Tab style */
.wow .tab-box{
	width: 100%;   
    margin-right: 80px;
    margin-top: 25px;
    box-sizing: border-box;
}
.wow .tab-box:after{
	clear:both; 
	content:""; 
	display:block;
}
.wow .tab-nav{
	margin:0;
	padding:0;
	list-style:none;
	width:100px;
	float:left;
}
.wow .tab-nav li{
	float:left;
	margin-bottom:1px;
}
.wow .tab-nav li a{
	display:inline-block;
	width:110px;
	padding:10px 10px;
	font-size:14px;
	color:#000;
	text-decoration:none;
}
.wow .tab-nav li a:hover{
	color:#000;
	text-decoration:none;
	background: #fff;
}
.wow .tab-nav li.select a{ 
	background: #fff;  
}
.wow .tab-nav .active{
	display:inline-block;
	padding:5px;
}
.wow .tab-box>div{
	margin:0 0 0 130px;
	padding:10px;
}
.wow .tab-panels{
	background:#fff;
}
/* elements style */
.wow-title{
	margin-top: 25px;
}
p.wowdel{
	margin-top:15px;
}
.wowdel a{	
	color:#e95645;	
}
.wow .err {
	color:#e95645;
	font-weight:500;
	font-size:12px;
}
.wow-btn {
	display: inline-block;	
	padding: 0px 30px;
	height: 42px;
	background: #37c781;
	border-radius: 3px;
	line-height: 42px;
	text-align: center;
	color: #fff !important;
	text-decoration: none;
	font-size: 18px;
	font-weight: 500;
	cursor: pointer;
	border:none;
}
.wow-btn:hover {
	background: #303030;
}
.wow-btn:active {
	background: #303030;
}
.wowcon {
	font-size: 32px !important;	
	color: #1f9ef8;
}
.wowicon {
	font-size: 32px;	
}
/* delete style */
.wow .handlediv{
	float:right;
	margin-top:-30px;
	cursor: pointer;
}
.wow .handlediv:before{
	content: "\f158";
    font-family: Dashicons;
    font-style: normal;
    font-weight: bold;
    text-decoration: inherit;
	color:#e95645;
	font-size:22px;
}
/* toggle style */
.wow .toggle{
	float:right;
	margin-top:-30px;
	margin-right:30px;
	cursor: pointer;
	font-family: Dashicons;
    font-style: normal;
    font-weight: bold;
    text-decoration: inherit;
	color:#128be0;
	font-size:22px;
}
.wow .toggleshow:before{
	content: "\f132";
}
.wow .togglehide:before{
	content: "\f460";
}
/* menu item style */
.wow .itembox{
	border:1px solid #1f9ef8;	
	margin-bottom:13px;
	padding:0 15px;
}
.wow .item-title{
	padding: 20px 0px;	
	overflow:hidden;
}
.wow .item-title h3 {
	color:#128be0;
	border-bottom: none;
}
.wow .fp-close{
	cursor:pointer;
	color:#e95645;
	font-size:18px;
}
/* other */
.wow .submit-bottom {
	margin: 25px 0px;
	display: block;	
	width:400px;
}
.wow .formsub {
	width: 128px;
	height: 32px;
	background: #1f9ef8;
	border-radius: 5px;	
	line-height: 32px;
	text-align: center;
	color: #fff;
	text-decoration: none;
	font-size: 14px;
	border: 0px;
	cursor: pointer;
	margin: 0px;
	padding: 0px;
	transition-timing-function: ease-in-out;
	transition-duration: .05s;
	transition-property: all;
}
.wow .formsub:hover, .wow .formsub:active {
	background: #128be0;
}
.wow .formpreview {
	width: 128px;
	height: 32px;
	background: #797979;
	border-radius: 5px;	
	line-height: 32px;
	text-align: center;
	color: #fff;
	text-decoration: none;
	font-size: 14px;
	border: 0px;
	cursor: pointer;
	margin: 0px;
	padding: 0px;
	transition-timing-function: ease-in-out;
	transition-duration: .05s;
	transition-property: all;
	margin-left: 2px;
}
.wow .formpreview:hover, .wow .formpreview:active {
	background: #656565;
}
.wow-alert-error {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}
.wow-alert-update {
    color: #94a540;
    background-color: #e7f7e3;
    border-color: #c7e5dc;
}
.wow-alert {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid transparent;
    vertical-align: middle;
}
p.wow_error {
	margin: 0 !important;
}
.wow-plugin-action-buttons {
	text-align:right;
}
.wow-plugin-action-buttons li {
	display: inline-block;
	margin-left: 1em;
}
.wow-button-con {
	padding-right: 15px;
}
.wow-button-install {
	background: none repeat scroll 0% 0% #2EA2CC !important;
	border-color: #0074A2 !important;
	box-shadow: 0px 1px 0px rgba(120, 200, 230, 0.5) inset, 0px 1px 0px rgba(0, 0, 0, 0.15) !important;
	color: #FFF !important;
}
.wow-button-install:focus {
	box-shadow: 0px 0px 0px 1px #5B9DD9, 0px 0px 2px 1px rgba(30, 140, 190, 0.8) !important;
}
.wow-button-install:hover {
	color: #FFF !important;
	background: none repeat scroll 0% 0% #5B9DD9 !important;
}
.wow-button-update {
	background: none repeat scroll 0% 0% #E74F34 !important;
	border-color: #C52F2F !important;
	box-shadow: 0px 1px 0px rgba(255, 235, 235, 0.5) inset, 0px 1px 0px rgba(0, 0, 0, 0.15) !important;
	color: #FFF !important;
}
.wow-button-update:focus {
	box-shadow: 0px 0px 0px 1px #DA3232, 0px 0px 2px 1px rgba(255, 140, 140, 0.8) !important;
}
.wow-button-update:hover {
	color: #FFF !important;
	background: none repeat scroll 0% 0% #DA3232 !important;
}
.button-pro {
	vertical-align: top;
	display: inline-block;
    text-decoration: none;
    font-size: 13px;
    line-height: 26px;
    height: 28px;
    margin: 0;
    padding: 0 10px 1px;
    cursor: pointer;
    border-width: 0px;
    border-style: solid;
    -webkit-appearance: none;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    white-space: nowrap;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
	color: #fff !important;
	background: #37c781;
}
.button-pro:hover {
	background: #303030;
}
.button-pro:active {
	background: #303030;
}
.wow #wp-content-editor-tools {
	background:none;
	padding-top:0;
}

